@import url('../../styles.css');

.contact__container {
    display: flex;
    flex-direction: column;
}

.contact__container h1 {
    font-weight: 700;
    font-size: 64px;

    text-transform: uppercase;

    color: var(--cor-gray);
}

.contact__container  h2 {
    font-weight: 400;
    font-size: 24px;

    color: var(--cor-textcolor);
}

.contact__container ul {
    font-weight: 400;
    font-size: 24px;

    color: var(--cor-textcolor);
}

.contact__us__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact__us__container h2 {
    font-size: 40px;

    font-weight: 700;

    color: var(--cor-black);
}

.title__container {
    font-size: 24px;

    font-weight: 700;

    color: var(--cor-black);
}

.contact__us__container__input {
    border-radius: 5px;

    padding: 0.5rem;
}

.contact__checkbox {
    font-weight: 400;
    font-size: 14px;

    line-height: 21px;

    color: var(--cor-textcolor);

}