@import url('../../styles.css');

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;

    gap: 2rem;
}


.contact__container h1 {
    font-weight: 700;
    font-size: 64px;

    text-transform: uppercase;

    color: var(--cor-gray);
}

.contact__container h2 {
    font-weight: 400;
    font-size: 24px;

    color: var(--cor-textcolor);

    text-align: center;
}

.contact__container ul {
    font-weight: 400;
    font-size: 24px;

    color: var(--cor-textcolor);

    text-align: center;
}

.contact__us__container {
    display: flex;
    justify-content: center;

    margin-bottom: 4rem;
    margin-left: 4rem;
}
.contact__us__container form {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.contact__us__container h2 {
    font-size: 40px;

    font-weight: 700;

    color: var(--cor-black);
}

.title__container {
    font-size: 24px;

    font-weight: 700;

    color: var(--cor-black);
}

.contact__us__container__input {
    border-radius: 5px;

    padding: 0.5rem;
}


.contact__checkbox {
    font-weight: 400;
    font-size: 14px;

    line-height: 21px;

    color: var(--cor-textcolor);

    margin-top: 0.5rem;
}

.policy__container {
    font-weight: 400;

    font-size: 14px;

    color: var(--cor-purple);

    margin-left: 1rem;
}

.contact__submit__container {
    
    height: 2.9375rem;
    width: 71.25rem;
    
    border-radius: 5px;
    border: none;

    background-color: var(--cor-purple);

    color: var(--cor-white);

    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;
}

.contact__submit__container:hover{
    cursor: pointer;
}

 .message {
    padding: 1rem;
}