@import url("../../styles.css");

.adopt__container {
  display: flex;
  height: 800px;
  gap: 0 2rem;
}

.adopt__container .left__container {
  flex-basis: 50%;
  gap: 1rem;
}

section h1 {
  color: #333333;

  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

section h2 {
  color: #64728c;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn__adopt {
  border: none;
  border-radius: 0.3125rem;

  background: var(--cor--blue);
  color: var(--cor-white);
  text-transform: uppercase;
  font-weight: 700;

  width: 19.75rem;
  height: 52px;
}

.btn__adopt:hover {
  cursor: pointer;
  background-color: var(--cor-white);
  color: var(--cor--blue);
}

.adopt__form {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5f8ff;
}

form {
  display: grid;
  gap: 0.5rem;
}

form label {
  display: block;

  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

form input {
  padding: 1rem;

  border-radius: 0.3125rem;
}

.adoption__form__container {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(black);
}

#checkbox__container {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(#64728c);
}

.policy__container {
  font-weight: 400;

  font-size: 14px;

  color: var(--cor-purple);
}

.submit__container {
  border: none;
  border-radius: 0.3125rem;

  background: var(--cor--blue);
  color: var(--cor-white);
  text-transform: uppercase;
  font-weight: 700;

  height: 2.9375rem;
  width: 71.25rem;
}

.submit__container:hover {
  cursor: pointer;
}

.row {
  display: flex;
  gap: 0 2rem;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media (max-width: 375px) {
  .header__title:hover {
    cursor: pointer;
  }
  .adopt__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .left__container {
    width: 84vw !important;
    padding-top: 10rem;
  }

  .img_adopt {
    width: 66vw !important;
    padding-top: 4rem;
  }

  .adopt__form {
    padding: 10rem 1rem 0rem 0rem;
  }
}

@media (max-width: 414px) {
  .header__title:hover {
    cursor: pointer;
  }
  .adopt__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .left__container {
    width: 84vw !important;
    padding-top: 10rem;
  }

  .img_adopt {
    width: 66vw !important;
    padding-top: 4rem !important ;
  }

  .adopt__form {
    padding: 10rem 1rem 0rem 0rem;
  }
}
