@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Segoe UI', -apple-system;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --cor-pink: #F22C9A;
    --cor-purple: #6E00DB;
    --cor-gray: #333333;
    --cor-greenwater: #58E1E8;
    --cor-white: #FFFFFF;
    --cor-lightblue: #F5F8FF;
    --cor-textcolor: #64728C;
    --cor--black: #000000;
    --cor--blue: #0039F5;
}

.size {
    height: 45rem;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bg-white {
    background-color: var(--cor-white);
}

.bg-blue {
    background-color: var(--cor-lightblue);
}

header {
    height: 7.5rem;
}

.header__container {
    background-color: var(--cor-pink);


    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4rem;
    width: 100%;
    height: 7.5rem;

    box-sizing: border-box;
}

.header__title {
    display: flex;
    gap: 1rem;
    color: var(--cor-white);
    font-weight: 700;

    text-decoration: none;
}

.header__title .title {
    font-size: 1rem;
}

.header__title:hover {
    cursor: pointer;
}

.nav__container {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    color: var(--cor-white);
}

.nav__container a {
    text-decoration: none;
    color: var(--cor-white);
}

.nav__container li:hover {
    cursor: pointer;
}

.home__container {
    gap: 0 5rem;
}

.home__container .title__home {
    text-transform: uppercase;
    font-size: 3.125rem;
    color: var (--cor-gray)
}

.home__container h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-textcolor);
}

.home__container button:hover {
    cursor: pointer;
}

.home__container .left__container {
    gap: 1rem 0;
    flex-basis: 50%;
}

.about__container {
    text-align: center;
    gap: 3rem 0;
}

.about__container h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--cor--black);
}

.about__container p {
    color: var(--cor-textcolor);
    font-weight: 400;
    font-size: 1.5rem
}

.steps__container {
    display: grid;
    align-items: center;
}

.steps__title {
    text-transform: uppercase;
    color: var(--cor--black);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.images__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.images__container li {
    display: grid;
    Flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.images__container li p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.images__container li img {
    padding: 1rem;
}

.action__btn {
    background-color: var(--cor-purple);
    color: var(--cor-white);

    text-transform: uppercase;
    font-weight: 700;

    width: 14.375rem;
    height: 3.25rem;

    border: none;
    border-radius: .3125rem
}

.action__btn:hover {
    cursor: pointer;
    color:var(--cor-purple);
    background-color:var(--cor-white); 
}

.donation__container {
    gap: 0 5rem;
}

.donation__container .left__container {
    gap: 1.5rem 0;
}

.donation__container .left__container .container__title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor--black);
    text-transform: uppercase;
}

.donation__container div p {
    color: var(--cor-textcolor);
}

.contact__container {
    margin: 0 0 4rem;
}



.footer_container {
    background-color: var(--cor-pink);

    width: 100%;
    height: 110px;

    display: flex;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    gap: 1rem;
}

.footer_container h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-white);
    flex-grow: 1;
}

.logo {
    width: 14px;
    height: 14px;
}

@media(max-width: 670px) {

    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        padding: 0;
    }

    .contact__container {
        margin-top: 3rem !important;
    }

    .contact__container h1 {
        font-size: 32px !important;
    }

    .contact__container h2 {
        font-size: 16px !important;
    }

    .contact__container li {
        font-size: 16px !important;
    }

    #about-container {
        padding: 1rem;
    }

    .steps__container {
        height: 115rem !important;
    }

    .img {
        max-width: 75%;
    }

    .home__container {
        height: 80rem;
    }

    .donation__container {
        height: 60rem;
    }

    #donation-container {
        padding: 1rem;

        text-align: center;
    }

    .img__adopt {
        max-width: 75%;
    }

    .adoption__form__container {
        text-align: center;
        padding: 1rem;
    }

    .adopt__container {
        padding: 3rem;
    }

    .adopt__form form {

        gap: 0.5rem;
        width: 90vw;
        grid-template-columns: 90vw;
    }

    .submit__container {
        width: 90vw !important;
    }

    .contact__container {
        margin-bottom: 4rem !important;
    }

    .contact__us__container {
        margin: 0 !important;
    }

    .contact__us__form {
        width: 90vw;

        padding: 1rem;
    }

    .contact__us__form h2 {
        text-align: center;

        padding: 1rem;

        font-size: 32px !important;
    }

    .contact__submit__container {
        width: 90vw !important;
    }
}


@media(max-width: 768px) {

    .left__container {
        width: 60vw !important;
    }

    #home-container {
        gap: 0 1rem;

        flex-wrap: nowrap !important;
    }

    #home-container img {
        width: 40vw !important;
    }

    .donation__container {
        flex-wrap: nowrap;

        gap: 0 2rem;

        padding: 2rem;

        margin-top: 3rem;
    }

    .btn__steps__container {
        padding: 2rem;
    }

    .adopt__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1rem;

        height: 500px !important;
    }


    .left__container__adopt {
        width: 44vw !important;
    }

    .img__adopt {
        width: 46vw;
    }

    #adopt-form {
        grid-template-columns: 90vw;
    }


    .adopt__form .row {
        flex-direction: column;
    }

    .adopt__form form {
        grid-template-columns: 90vw;
        padding: 1rem;
        gap: 1rem;
    }

    .submit__container {
        width: 90vw !important;
    }

    .contact__us__container {
        margin-bottom: 0 !important; 
        margin-left: 0 !important;
    }

    .contact__us__form{
        width: 90vw;
    }

    .contact__submit__container__p1 {
        margin-bottom: 1rem;
    }
    .contact__submit__container {
        width: 90vw !important;
    }
    }

